 .btn_page_control li {
    display: inline-block;
    margin-right: 20px;
}
  .btn_page_control a {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    background: #5A55A3;
    height: 55px;
    line-height: 55px;
    padding: 0 30px;
   /* font-size: 16px;
    background: #5A55A3;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;*/
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}
.btn_page_control a:before{
  pointer-events: none;
    position: absolute;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
        top: calc(50% - 28px);
    right: -20px;
    border-width: 27px 0 27px 20px;
    border-color: transparent transparent transparent #5A55A3;
}
.btn_page_control li a:after {
    pointer-events: none;
    position: absolute;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    top: calc(50% - 28px);
    left: 0px;
    border-width: 27px 0 27px 20px;
    border-color: transparent transparent transparent #fff;
}
.btn_page_control li:first-child a:after {
  display: none;
}

@media (min-width:992px) and (max-width:1199px) /* md*/{
    .btn_page_control a {
        font-size: 20px;
    }
}
@media (min-width:768px) and (max-width:991px) /* sm*/{
    .btn_page_control a {
        font-size: 17px;
        padding: 0 20px;
    }
}
